/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--current-font), sans-serif;
  font-variation-settings: 'wght' var(--text-wght);
  min-inline-size: var(--min-inline-size-section);
  min-block-size: 100dvb;
  max-block-size: 1440px;
  background: var(--page-pattern);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.section {
  inline-size: var(--section--inline-size);
  min-inline-size: var(--section-min-inline-size);
  background-color: var(--bg-color);
  border: var(--main-border);
  justify-self: center;
}

.header {
  font-family: var(--accent-font);
  margin-block-start: 100px;
  block-size: var(--header-block-size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 98px;
}

.logo__group {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: grid;
  justify-content: center;
  gap: var(--gap-section);
}

.post__section {
  font-size: 18px;
  display: grid;
}

.section__title {
  font-variation-settings: 'wght' var(--title-wght);
  font-size: inherit;
  padding: 4px 10px;
}

.post__text {
  font-size: inherit;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.image__zone {
  inline-size: 100%;
  position: relative;
}

.decoration {
  position: absolute;
  font-family: var(--accent-font);
  color: var(--main-color);
  z-index: 1;
  -webkit-text-stroke: 1px var(--bg-color);
  font-size: 14px;
  top: 25px;
  right: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
}

.post__image {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.clouds {
  filter: brightness(150%);
}

.me {
  filter: invert(1);
}

.sunset {
  filter: saturate(120%);
}

.dream {
  filter: sepia(50%);
}

.beach {
  filter: grayscale(0.5);
}

.sea {
  filter: contrast(150%);
}

.work {
  filter: blur(4px) saturate(150%);
}

.post__image::after {
  content: '</HTML>';
  position: absolute;
  z-index: 1;
  font-size: 14px;
  font-family: var(--accent-font);
  color: var(--main-color);
}

.post__buttons {
  padding-inline-end: 25px;
  padding-block-end: 25px;
  justify-self: end;
  align-items: end;
  display: flex;
  align-items: center;
}

.button__text {
  font-size: 14px;
}

.button__text,
.floppy__small {
  mix-blend-mode: difference;
  z-index: 2;
  position: relative;
}

.floppy__small {
  block-size: 21px;
}


.button {
  position: relative;
  background-color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  border: var(--main-border);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  color: var(--button-color);
  overflow: hidden;
}

.button::after {
  content: "";
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
  z-index: 1;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  transform: translate(-100%, -20%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: translate(0, 0);
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
}

.card__like-button {
  padding: 10.2px 35.4px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  align-self: center;
}

.card__icon-button:focus-visible {
  outline: none;
  outline: var(--main-border);
  outline-offset: -6px;
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

.icon {
  color: var(--main-color);
  block-size: 24px;
}

.footer {
  margin-block-start: 50px;
  margin-block-end: 100px;
  display: flex;
  justify-content: center;
}

.save__button {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: var(--footer-flex-direction);
  margin-block-end: 100px;
}

.dialog {
  border: var(--main-border);
  padding: 30px;
  gap: 30px;
}

.dialog::backdrop {
  background-color: var(--main-color);
  opacity: 75%;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;
}

.floppy__big {
  inline-size: 39px;
}

.dialog__text {
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button {
  padding: 12.5px 132.5px;
  text-transform: uppercase;
}